<!DOCTYPE html>
<html ng-app="CGullWebsite">
  <head>
    <script src="res/scripts/angular/angular.min.js"></script>
    <script src="res/scripts/app/global_defs.js"></script>
    <script src="res/scripts/app/adminfp.js"></script>
    <link rel="icon" href="res/img/logo.png">
    <link rel="stylesheet" href="res/stylesheets/cgullglobalstyle.css">
    <link rel="stylesheet" href="res/stylesheets/cgullfrontpagestyle.css">
  </head>
  <header>

    <!-- Title and Logo -->
    <div name="title-bar">
      <table style="margin:auto; width: 100%;">
        <tr>
          <!-- Logo -->
          <td class="logo">
            <div class="mascot">
              <a href="index.html" style="float:left;">
                <img src="res/img/sir-feathersworth.png" width="48" height="48">
              </a>
            </div>
            <div class="storename">
              <a href="admin.html" style="color:white; font-size: 20px;"><u>CGulls Admin Portal</u></a>
            </div>
          </td>

          <!-- Search Bar -->
          <td class="searchbar">
            <div class="searchbarcontents" ng-controller="SearchController as searchCtl">
              <div class="filter_sel">
<!--                <select ng-model="catsel" ng-change="searchCtl.setCatFilter()">
                  <option ng-repeat="category in categories" value="{{category.Idx}}" ng-selected="categories[0]">{{category.Name}}</option>
                </select>-->
                <select ng-change="searchCtl.setCatFilter()" ng-options="category as category.Name for category in categories track by category.Idx" ng-model="catsel"></select>
              </div>
              <div class="searchfield">
                <input type="text" placeholder="Search the CGull Store..." ng-model="searchQuery" ng-change="searchCtl.updateQueryState()"/>
              </div>
            </div>
          </td>

          <!-- Logout Button -->
          <td class="cart_section">
            <button onclick="vanillaRedir('index.html')">
              <u>Logout</u>
            </button>
          </td>
        </tr>
      </table>
    </div>

  </header>
  <body>
    <div ng-controller="AdminFrontPageController as frontPage">
      <!-- <span>
        <input style="margin-left: 16px; width: 75%;" type="text" ng-model="frontPage.searchText">
      </span> -->
      <span>Showing all {{frontPage.entryCt()}} results</span>
      <input type="button" ng-click="frontPage.showListings()" value="Show Results">
      <ul class="productlist">
        <li class="product" ng-repeat="item in frontPage.listings">
          <img ng-src="{{frontPage.apiAddr}}/Item/Image/{{item.id}}" ng-alt="{{item.name}}" width="128" height="128"/>
          <br>
          <span style = "margin-left: 8px">
            <b>{{item.name}}</b>
            <br>
            <b>Price:</b>	<element ng-if="item.onSale">${{item.msrp}}</font></s>	</element><font color="#17992A">${{item.onSale ? item.salePrice : item.msrp}}</font>
            <br>
            <b>Rating:</b>	{{item.rating}}/5
            <br>
            <b>Category:</b> {{categories[item.categoryId-1].Name}}
          </span>
          <label>
          <input class="list_item_btn" type="button" ng-click="frontPage.redirectToItemEditorPage(item)" value="Edit Item">
          </label>
        </li>
      </ul>
    </div>
  </body>
</html>
