<!doctype html>
<html ng-app="CGullWebsite">
  <head>
    <script src="res/scripts/angular/angular.min.js"></script>
    <script src="res/scripts/app/frontpage.js"></script>
    <link rel="icon" href="res/img/logo.png">
    <link rel="stylesheet" href="res/stylesheets/cgullstyle.css">
  </head>
  <body>
    <h2>CGulls' Seagull Themed Merchendise!</h2>
    <div ng-controller="FrontPageController as frontPage">
      <span>Showing all {{frontPage.entryCt()}} results</span>
      [ <a href="" ng-click="frontPage.showListingsReplacement()">Show Results</a> ]
      <ul class="productlist">
        <li class="product" ng-repeat="item in frontPage.listings | filter: (item.isBundle==true)">
          <img ng-src="http://localhost:5041/Item/Image/{{item.id}}" ng-alt="{{item.name}}" width="128" height="128"/>
          <b>{{item.name}}</b>
          <b>Price:</b>	<s><font color="#4A4A4A">${{item.msrp}}</font></s>	<font color="#17992A">${{item.salePrice}}</font>
          <b>Rating:</b>	{{item.rating}}/5
          {{item.btnPressed}}
          <label>
            <input class="list_item_btn" type="button" ng-click="frontPage.showItemDesc(item)" value="View Item">
          </label>
        </li>
      </ul>
    </div>
  </body>
</html>
