<!DOCTYPE html>
<html ng-app="CGullWebsite">
  <head>
    <script src="res/scripts/angular/angular.min.js"></script>
    <script src="res/scripts/app/global_defs.js"></script>
    <script src="res/scripts/app/frontpage.js"></script>
    <link rel="icon" href="res/img/logo.png">
    <link rel="stylesheet" href="res/stylesheets/cgullglobalstyle.css">
    <link rel="stylesheet" href="res/stylesheets/cgullfrontpagestyle.css">
  </head>
  <header>

    <!-- Title and Logo -->
    <div name="title-bar">
      <table style="margin:auto; width: 100%;">
        <tr>
          <!-- Logo -->
          <td style="width: 25%;">
            <a href="index.html" style="float:left;">
              <img src="res/img/sir-feathersworth.png" width="48" height="48">
            </a>
            <div style="padding: 2vh 0;">
              <a href="index.html" style="color:white; font-size: 20px;"><u>CGullShop</u></a>
            </div>
          </td>

          <!-- Search Bar -->
          <td style="width: 50%;">
            <div style="display: flex; height: 4vh;">
              <div>
                <select style="border: 2px solid #006dcc; border-right: none; 
                border-radius: 10px 0px 0px 10px; padding: 1vh 0; padding-left: 10px;
                cursor: pointer; background-color: #005dad; color: white;">
                  <option>Category 1</option>
                  <option>Category 2</option>
                  <option>Category 3</option>
                  <option>...</option>
                </select>
              </div>
              <div style="flex: 1;">
                <input style="width: 100%; border: 2px solid #006dcc; border-radius: 0px 10px 10px 0px; padding: 1vh 0; padding-left: 5px;" 
                  placeholder="Search the CGull Store..."/>
              </div>
            </div>
          </td>

          <!-- Cart Button -->
          <td style="width: 25%;">
            <button style="float: right; margin-right: 2vw;
            background-color: #0074D9; color: white; 
            border: none; cursor: pointer; font-size: 20px;">
            <u>Cart</u>
          </button>
          </td>
        </tr>
      </table>
    </div>

  </header>
  <body>
    <div ng-controller="FrontPageController as frontPage">
      <!-- <span>
        <input style="margin-left: 16px; width: 75%;" type="text" ng-model="frontPage.searchText">
      </span> -->
      <span>Showing all {{frontPage.entryCt()}} results</span>
      <input type="button" ng-click="frontPage.showListings()" value="Show Results">
      <ul class="productlist">
        <li class="product" ng-repeat="item in frontPage.listings">
          <img ng-src="{{frontPage.apiAddr}}/Item/Image/{{item.id}}" ng-alt="{{item.name}}" width="128" height="128"/>
          <br>
          <span style = "margin-left: 8px">
            <b>{{item.name}}</b>
            <br>
            <b>Price:</b>	<element ng-if="0.01 <= (item.msrp - item.salePrice)"><s><font color="#7A7A7A">${{item.msrp}}</font></s>	</element><font color="#17992A">${{item.salePrice}}</font>
            <br>
            <b>Rating:</b>	{{item.rating}}/5
            <br>
            <b>Category:</b> {{frontPage.categories[item.categoryId-1]}}
          </span>
          <label>
          <input class="list_item_btn" type="button" ng-click="frontPage.redirectToItemPage(item)" value="View Item">
          </label>
        </li>
      </ul>
    </div>
  </body>
</html>
