<!DOCTYPE html>
<html ng-app="CGullWebsite">
  <head>
    <script src="res/scripts/angular/angular.min.js"></script>
    <script src="res/scripts/app/global_defs.js"></script>
    <script src="res/scripts/app/frontpage.js"></script>
    <link rel="icon" href="res/img/logo.png">
    <link rel="stylesheet" href="res/stylesheets/cgullglobalstyle.css">
    <link rel="stylesheet" href="res/stylesheets/cgullfrontpagestyle.css">
  </head>
  <header>

    <!-- Title and Logo -->
    <div name="title-bar">
      <table style="margin:auto;">
        <tr>
          <td stlye="width: 25%;"></td>
          <td style="text-align:center; width: 50%;">
            <h1>CGulls' Seagull Themed Merchandise</h1>
          </td>
          <td style="width: 25%;">
            <a href="index.html">
              <img src="res/img/sir-feathersworth.png" width="96" height="96">
            </a>
          </td>
        </tr>
      </table>
    </div>

  </header>
  <body>
    <div ng-controller="FrontPageController as frontPage">
      <span>
        <input style="margin-left: 16px; width: 75%;" type="text" ng-model="frontPage.searchText">
      </span>
      <span>Showing all {{frontPage.entryCt()}} results</span>
      <input type="button" ng-click="frontPage.showListings()" value="Show Results">
      <ul class="productlist">
        <li class="product" ng-repeat="item in frontPage.listings">
          <img ng-src="{{frontPage.apiAddr}}/Item/Image/{{item.id}}" ng-alt="{{item.name}}" width="128" height="128"/>
          <br>
          <span style = "margin-left: 8px">
            <b>{{item.name}}</b>
            <br>
            <b>Price:</b>	<element ng-if="0.01 <= (item.msrp - item.salePrice)"><s><font color="#7A7A7A">${{item.msrp}}</font></s>	</element><font color="#17992A">${{item.salePrice}}</font>
            <br>
            <b>Rating:</b>	{{item.rating}}/5
            <br>
            <b>Category:</b> {{frontPage.categories[item.categoryId-1].name}}
          </span>
          <label>
          <input class="list_item_btn" type="button" ng-click="frontPage.redirectToItemPage(item)" value="View Item">
          </label>
        </li>
      </ul>
    </div>
  </body>
</html>
