.item-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFF;
  box-shadow: 0 0 5px #0000001A;
}

body {
  font-family: Arial, sans-serif;
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
}

/* Small header displaying the item name */
h4 {
  font-size: 24px;
  margin: 10px 0;
}

/* Split view for product image and item data */
.item-details {
  display: flex;
  align-items: flex-start;
}

/* Product Image */
.product-image {
  flex: 1;
  margin-right: 20px;
  img {
    max-width: 100%;
    height: auto;
  }
}

/* Item Data */
.item-info {
  flex: 2;
  font-size: 16px;
  p {
    margin: 5px 0;
  }
}

/* Quantity Selector */
.cart-ops {
  margin: 20px 0;
  label {
    display: block;
    font-weight: bold;
  }
  input[type="number"] {
    width: 50px;
    padding: 5px;
  }
}
  /* Add to Cart Button */
.cart-buttons {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

  /* Hover effect for the button */
.cart-buttons:hover {
  background-color: #005BBF;
}

.register-box {
  background-color: #EAFFFF;
  border-radius: 16px;
  border: 8px solid #EAFFFF;
  margin: 20px 0;
  margin-left: 10px;
}

.promo-bundle {
  flex: 1;
  /*  justify-self: center; */
  margin-top: auto;
  margin-bottom: 10px;
  padding-inline: 10px;
  padding-top: 2px;
  padding-bottom: 8px;
  background-color: #F9F9F9;
  box-shadow: 0 0 5px #758888;
  border-radius: 10px;
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}

.items-in_bndl {
  flex: 1;
  /*  justify-self: center; */
  margin-top: auto;
  padding-inline: inherit;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #EDF7FD;
  box-shadow: 0 0 5px #758888;
  border-radius: 10px;
  ul {
    list-style-type: none;
    padding: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 10px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    li {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
