/* Global stylesheet, for UI elements that are universal across all cgull store
 * webpages. */

body {
  font-family: Arial, sans-serif;
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
}

/* Style the header */
header {
  background-color: #0074D9;
  color: #FFF;
  margin-bottom: 20px;
}

input[type="button"] {
  background-color: #0074D9;
  color: #FFF;
  border: none;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #005BBF;
}



