.title-bar {
  table {
    margin: auto;
    width: 100%;
  }
}

.logo: {
  width: 25%;
}

.mascot {
  float: left;
}

.storename {
  padding: 2vh 0;
}

.searchbar {
  width: 50%;
}

.searchbarcontents {
  display: flex;
  height: 4vh;
}

.cart_section {
  width: 25%;
  button {
    float: right; 
    margin-right: 2vw;
    background-color: #0074D9;
    color: white; 
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
}

.filter_sel {
  select {
    border: 2px solid #006dcc;
    border-right: none; 
    border-radius: 10px 0px 0px 10px;
    padding: 1vh 0;
    padding-left: 10px;
    cursor: pointer;
    background-color: #005dad;
    color: white;
  }
}

.searchfield {
  flex: 1;
  input {
    width: 100%;
    border: 2px solid #006dcc;
    border-radius: 0px 10px 10px 0px;
    padding: 1vh 0; 
    padding-left: 5px; 
  }
}


/* Style the container for product listings */
.productlist {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Style individual product items */
.product {
  width: 30%; /* Adjust this value to control the width of each item */
  margin: 10px;
  background-color: #FFF;
  border: 1px solid #DDD;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 5px #0000001A;
}

/* Style the description button */
.list_item_btn {
  border: none;
  padding: 5px 10px;
}

/* Style the link for showing more results */
a {
  color: #0074D9;
  text-decoration: none;
  font-weight: bold;
}

/* Hover effect for product items */
.product:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}




