/* Global stylesheet, for UI elements that are universal across all cgull store
 * webpages. */

body {
  font-family: Arial, sans-serif;
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
}

/* Style the header */
header {
  minimum-height: auto;
  display: flex;
  background-color: #0074D9;
  color: #FFF;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
}

h1 {
  background-color: #0074D9;
  text-align: center;
}

.sir-feathersworth {
  background-color: #0074D9;
  float: right;
  margin-left: 20px;
}

.sir-feathersworth img {
  background-color: #0074D9;
  max-width: 100px;
  height: auto;
}

input[type="button"] {
  background-color: #0074D9;
  color: #FFF;
  border: none;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #005BBF;
}



